version: '3.9'

services:

  app:
    image: anikondu87/salha-app:latest
    networks:
      - traefik-net
    deploy:
      replicas: 1
      restart_policy:
        condition: any
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.salha.rule=Host(`coran-hadith.fr`)"
        - "traefik.http.routers.salha.entrypoints=websecure"
        - "traefik.http.services.salha.loadbalancer.server.port=8080"
networks:
  traefik-net:
    external: true
